@model TexcelASPNETbyEddy.tblSE

@{
    ViewBag.Title = "Supprimer";
}

<h2>Supprimer</h2>

<h3>Êtes-vous sûr de vouloir supprimer ce système d'exploitation?</h3>
<div>
    <h4>Sytème d'exploitation</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
           Nom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomSE)
        </dd>

        <dt>
           Edition
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editionSE)
        </dd>

        <dt>
           Version
        </dt>

        <dd>
            @Html.DisplayFor(model => model.versionSE)
        </dd>

        <!--<dt>
            Html.DisplayNameFor(model => model.tagSE)
        </dt>

        <dd>
            Html.DisplayFor(model => model.tagSE)
        </dd>-->

        @if (ViewBag.ErreurSE == true)
        {
            <p style="color:red;">
                @ViewBag.Message 
            </p>

            ViewBag.ErreurSE = false;
        }
        
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retourner à la lsite", "Index")
        </div>
    }

</div>
