@model IEnumerable<TexcelASPNETbyEddy.tblJeu>

@{
    ViewBag.Title = "Jeux";
}

<h2>Jeux</h2>

<div class="row">

    <div class="col-md-3">
        @if (Session["Role"].ToString() == "administrateur")
        {
            <p>
                @Html.ActionLink("Créer nouveau", "Create")
            </p>
        }
    </div>

    <div class="col-md-3">

    </div>

    <div class="col-md-3">
        @using (Html.BeginForm("Index", "Jeu"))
        {
            //Champ texte de recherche
            @Html.TextBox("texte")
            //Input de validation (n'est pas généré par un programme d'assistance)
            <input type="submit" value="Rechercher" />
        }
    </div>
</div>
<table class="table">
    <tr>
        <th>
            NOM
        </th>
        <th>
           DEVELLOPEUR
        </th>
        <th>
           DESCRIPTION 
        </th>
        <th>
           CONFIGURATION MINIMALE
        </th>

        <th>
           GENRE
        </th>
        <!--<th>
           Html.DisplayNameFor(model => model.tag)
        </th>-->
        <!--<th>
            Html.DisplayNameFor(model => model.tblProjetTest.nomProjetTest)
        </th>-->
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomJeu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.devellopeurJeu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descriptionJeu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.configurationMinimaleJeu)
        </td>

        <td>
            @foreach (var genres in item.tblGenres)
            {
                <p> @Html.DisplayFor(modelItem => genres.descriptionGenre)</p>
            }
        </td>
        
       
        <!--<td>
            Html.DisplayFor(modelItem => item.tag)
        </td>-->
        <!--<td>
            Html.DisplayFor(modelItem => item.tblProjetTest.nomProjetTest)
        </td>-->
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idJeu }) |
            @Html.ActionLink("Details", "Details", new { id=item.idJeu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idJeu })
        </td>
    </tr>
}

</table>
